@use '../../var' as v;

button {
    cursor: pointer;
    border-radius: 0;
}

.app-header {
    display: flex;
    align-items: center;
    background-color: v.$c-dark-blue;
    color: #fff;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.5;
    z-index: 30;

    .header-title {
        font-size: 18px;
        user-select: none;
    }

    .header-user-panel {
        display: flex;
        align-items: center;

        .dropdown-indicator {
            display: inline-block;
            width: 0;
            height: 0;
            content: "";
            border-top-style: solid;
            border-top-width: 4px;
            border-right: 4px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 4px solid transparent;
        }

        .header-display-name {
            margin-right: 15px;
        }
    
        .header-user-menu-button {
            width: 28px;
            height: 28px;
            background-color: #fff;
            display: inline-block;
            border-radius: 50%;
        }
    
        .header-user-icon {
            color: v.$c-dark-blue;
        }

        .user-menu-item {
            display: block;
            color: v.$c-text;
            font-weight: 400;
            line-height: 1.5;
            overflow: hidden;
            padding: 4px 8px 4px 16px;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:not(.username) {
                &:hover, &:focus {
                    color: #fff;
                    text-decoration: none;
                    background-color: v.$c-blue;
                    outline: none;
                }
            }

            strong {
                max-width: 100%;
                font-weight: 600;
                vertical-align: top;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.username {
                margin-top: -4px;
                margin-bottom: -8px;
                padding: 8px 16px;
            }
        }

        .user-menu-divider {
            display: block;
            height: 0;
            margin: 8px 0;
            border-top: 1px solid v.$c-drop-menu-border
        }

        .user-signout {
            background: none;
            border: 0;
            text-align: left;
            width: 100%;
        }
    }
}