$c-text: rgb(36, 41, 46);
$c-input-text: #2e2e2e;
$c-blue: #0090da;
$c-dark-blue: #005d92;
$c-error: rgb(221, 44, 0);
$c-drop-menu-border: rgb(225, 228, 232);
$c-btn-green: #2ea44f;
$c-btn-green-hover: #2c974b;
$c-table-hover: #f6fafe;
$c-table-hover-border: #b8d6f4;
$c-border-default: #d6d6d7;
$c-table-selected: #e3f0fc;
$c-table-selected-border: #aac7e3;